body {
    background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    margin-top: 100PX;
}
.ProfileImage {
    width: 180px;
}
.profile h2 {
    color: white;
}
.profile h4 {
    color: white; 
    transform: translateY(-5px)
}
.BIODATA {
     background: linear-gradient(#ffff 0%, #ffffffe1 40%, #ffffff00 100%);
     padding-bottom: 200PX;
     padding-top: 55px;
}
.Achievement {
    padding-top: 60px;
}
.footer{
    background-color:white ;
}
.contact a {
    color:black ;
    font-size: 30px;
}
.watermark {
    padding-top: 30px;
}
.call section {
    padding-top: 30px;
}